@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@300;400;500&family=Tangerine:wght@400;700&display=swap');

*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    
}
html{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f7a4a4;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: #131212;
}

/* sessao section */
section{
    padding: 100px 0;
}

section .title{
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}

/* sessao home */


/* sessao about */


/* sessao service */


/* sessao partners */


/* sessao contact */


/* sessao footer */
footer{
    background: #131212;
    padding: 22px 24px;
    color: #f7a4a4;
    text-align: center;
}