@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@300;400;500&family=Tangerine:wght@400;700&display=swap');

*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
html{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f7a4a4;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: #131212;
}

/* sessao section */
section{
    padding: 100px 0;
}

section .title{
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}

/* sessao home */


/* sessao about */


/* sessao service */
.service .container .card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    /*padding: 15px;*/
}
.service .card .box{
    width: 100%;
    margin: 20px;
    border: 6px;
    overflow: hidden;
    background: #f7a4a4;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0. 2);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
}
.service .card:hover{
    box-shadow: 5px 5px 200px rgba(0, 0, 0, 0. 4);
}
.service .card img{
    width: 100%;
    height: 210px;
}
.service .box .text{
    font-weight: 500;
    margin-bottom: 15px;
}
.service .box .btn{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: azure;
    border: 1px solid azure;
    border-radius: 4px;
    transition: all 400ms ease;
}
.service .box .btn:hover{
    background: #131212;
    color: #f7a4a4;
}
/* sessao partners */


/* sessao contact */


/* sessao footer */
footer{
    background: #131212;
    padding: 22px 24px;
    color: #f7a4a4;
    text-align: center;
}